@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans');
* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
  background-color: #e1f4fc;
}

h1, h3,
.navbar-brand {
  font-family: 'Merienda One', Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 2rem;
  box-shadow: 0px 4px 8px grey;
}

.navbar-brand,
h1 {
  font-family: 'Merienda One', Helvetica, sans-serif;
}

h1 {
  margin-bottom: 1rem;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  color: white!important;
}

.nav-placeholder {
  height: 5.5rem;
}

.alert p {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

ul li img {
  width: 100%;
}

.scroll-to-top,
.tabs,
.filters,
.filter-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: #343a40;
  cursor: pointer;
  touch-action: none;
}

.tabs {
  display: grid;
  grid-gap: 0.25rem;
  color: black;
  margin-bottom: 0.25rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs-2 {
  grid-template-columns: 49.8% 49.8%;
  grid-template-columns: calc((100% - 0.25rem)/2) calc((100% - 0.25rem)/2);
}

.tabs-3 {
  grid-template-columns: 33% 33% 33%;
  grid-template-columns: calc((100% - 0.5rem)/3) calc((100% - 0.5rem)/3) calc((100% - 0.5rem)/3);
}

.tabs li {
  border-radius: 4px;
  background-color: #ced4da;
  padding: 0.5rem;
  touch-action: none;
}

.filters-dropdown {
  display: none;
  margin-top: 1rem;
}

.filters-button {
  background-color: #ced4da;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
}

.tabs li:hover,
.tabs .active,
.filters-button:hover {
  background-color: #007bff;
  color: white;
}

.filters {
  margin-bottom: 0;
}

.filter-control {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.filters,
.filter-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0.25rem;
  justify-content: center;
  touch-action: none;
}

.tabs li,
.filters li {
  cursor: pointer;
}

.filters li,
.filter-control li {
  line-height: 0.75em;
  flex-basis: auto;
  margin: 0 0.25rem 0.5rem 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #ced4da;
  border-radius: 1rem;
  touch-action: none;
}

.filters .hover,
.filters li.active,
.filter-control li.active {
  background-color: #007bff;
  color: white;
}

#gallery > ul h3,
#archive > ul h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#gallery,
#archive {
  display: none;
}

#gallery > ul,
#archive > ul {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
}

#gallery > p,
#archive > p {
  text-align: center;
  font-style: italic;
  width: 100%;
}

.gallery-item {
  align-self: center;
}

.gallery-item h3 {
	line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-item a,
.gallery-item a:hover {
  color: #212529;
  text-decoration: none;
}

.gallery-content {
  padding: 1rem;
  background-color: white;
  border: 1px solid #ced4da;
}

.gallery-content img {
  border: 1px solid #343a40;
}

.gallery-content h3 {
  margin-top: 1rem;
}

.product-image {
  margin-bottom: 1rem;
  box-shadow: 0px 4px 8px grey;
}

form {
  display: inline;
}

.btn {
  margin-bottom: 1rem;
}

.btn-light {
  background-color: white;
  border: 1px solid #ced4da;
}

.img img {
  width: 100%;
}

.img p {
  text-align: center;
}

.row {
  margin: 0;
}

.product {
  display: flex;
}

.product,
.total {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.total h5 {
  margin: 0;
}

.total table {
  width: 100%;
}

.total tr:nth-last-child(n+3) {
  border-bottom: 1px solid #ced4da;
}

.total tr:last-child {
  border-top: 3px double #ced4da;
}

.total td {
  margin: 0.5rem 0;
}

.total td:last-child {
  float: right;
}

.subtle {
  color: #9a9da0;
  font-size: 0.9em;
  font-style: italic;
}

input[name="width"],
input[name="length"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[name="length"],
input[name="height"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.shipping input[name="recipientName"],
.shipping input[name="line2"],
.shipping select[name="countryCode"],
.shipping input[name="email"] {
  margin-bottom: 1rem;
}

.shipping input[name="line2"],
.shipping select[name="state"],
.shipping input[name="postalCode"],
.shipping input[name="postalCodeExt"],
.shipping select[name="countryCode"],
.shipping input[name="email"] {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.shipping input[name="line1"],
.shipping input[name="city"],
.shipping select[name="state"],
.shipping input[name="postalCode"],
.shipping input[name="postalCodeExt"],
.shipping input[name="phone"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.shipping input[type="checkbox"] {
  height: 1.5rem;
}

input[type="checkbox"] + p {
  margin-left: 0.5rem;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center {
  text-align: center;
}

.product .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: unset;
  height: 128px;
  width: 128px;
}

.product .img-container img {
  display: block;
  max-height: 128px;
  max-width: 128px;
  width: auto;
  height: auto;
  border: 1px solid #343a40;
}

.name-price-container {
  margin: 0 1rem;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.name-price-container span {
  display: block;
}

.name-price-container a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-price-container a,
.name-price-container a:hover {
  color: #212529;
}

.name-price-container-checkout {
  position: relative;
  width: 100%;
}

.name-price-container-checkout span {
  margin: 0;
  height: 1em;
  line-height: 1em;
  white-space: nowrap;
}

.name-price-container-checkout span:first-of-type {
  float: left;
}

.name-price-container-checkout span:last-of-type {
  float: right;
}

.shipping-confirm {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.shipping-confirm .edit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-top-right-radius: 4px;
  padding: 0 1em;
}

.shipping-confirm table {
  width: 100%;
}

.shipping-confirm tr {
  white-space: nowrap;
}

.shipping-confirm td {
  width: 50%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shipping-confirm td:first-child {
  text-align: right;
  padding-right: 1rem;
  font-style: italic;
}

.orders {
  width: 100%;
  background-color: white;
}

.orders .right {
  text-align: right;
}

.orders-row:hover {
  background-color: #007bff!important;
  color: white;
  cursor: pointer;
}

.orders td:last-of-type {
  width: 50px;
  text-align: center;
}

.btn-container {
  height: 130px;
  line-height: 126px;
  min-width: 0;
  white-space: nowrap;
}

.btn-container .btn {
  margin: 0;
  display: inline-block;
}

#wait {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,1) 1%, rgba(0,0,0,0.75) 100%);
  background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,1) 1%, rgba(0,0,0,0.75) 100%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,1) 1%, rgba(0,0,0,0.75) 100%);
  background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,1) 1%, rgba(0,0,0,0.75) 100%);
  color: white;
}

#wait p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 767px) {
  html, body {
    overflow-x: hidden;
  }

  h1 {
    line-height: normal;
    text-align: center;
  }

  .nav-placeholder {
    height: 79px;
  }

  .navbar-brand {
    font-size: 0.9em;
  }

  .navbar-nav .nav-link {
    background-color: #666a6d;
    border-radius: 4px;
    margin-top: 0.5rem;
    color: white!important;
  }

  .container > .btn {
    margin: 0 50% 1rem 50%;
    transform: translateX(-50%);
  }

  .gallery-content h3 {
    margin-top: 0.5rem;
  }

  .product .img-container {
    height: 64px;
    width: 64px;
  }

  .product .img-container img {
    max-width: 64px;
    max-height: 64px;
  }

  .btn-container {
    height: 66px;
    line-height: 62px;
    flex-shrink: 0;
  }

  .btn-container * {
    flex-shrink: 0;
  }

  .shipping-confirm {
    padding-top: 24px;
  }
}

@media all and (min-width: 768px) {
  #gallery > ul,
  #archive > ul {
    grid-template-columns: 337px 337px;
    grid-template-columns: calc((720px - 3rem)/2 + 1px) calc((720px - 3rem)/2 + 1px);
  }
}

@media all and (min-width: 992px) {
  #gallery > ul,
  #archive > ul {
    grid-template-columns: 299.67px 299.67px 299.67px;
    grid-template-columns: calc((960px - 4rem)/3 + 1px) calc((960px - 4rem)/3 + 1px) calc((960px - 4rem)/3 + 1px);
  }
}

@media all and (min-width: 1200px) {
  #gallery > ul,
  #archive > ul {
    grid-template-columns: 209.4px 209.4px 209.4px 209.4px 209.4px;
    grid-template-columns: calc((1140px - 6rem + 3px)/5) calc((1140px - 6rem + 3px)/5) calc((1140px - 6rem + 3px)/5) calc((1140px - 6rem + 3px)/5) calc((1140px - 6rem + 3px)/5);
  }
}

