{% extends 'gallery/base.html' %}{% load static %} {% block head %}
<script src="https://www.paypal.com/sdk/js?client-id={% if STAGE == 'development' %}AYA1RN-BPbNZ5_JHHeTwnEbHIMGCBRJ8w1TN9dZz_F8FNNm_zEBcHGCL45nZWQ2y4duxobaVo8lrKPht{% else %}AUZDLCGojew4SMtatmRHzJ_V_FHGm7nfFOGGhdiNUf_2vNUv-yUFRzrk14RNTpPDPBlJAlQGNNFfnso7{% endif %}"></script>
<script>
  $(() => {
    function error(data) {
      const message =
        'TRANSACTION ERROR\n\nThere was an error processing your transaction. To avoid being charged twice, please do not try submitting again. Instead, try contacting Michaele at the phone number or email address provided on the About page.';
      const url = '{% url "about:index" %}#contact';

      console.error(message + '\nhttps://coolwatercreations.com' + url);
      console.error(data);

      if (
        window.confirm(
          message +
            "\n\nClick OK to be redirected to 'https://coolwatercreations.com" +
            url +
            "'. Click Cancel to return to the Checkout page.",
        )
      ) {
        window.location = url;
      } else {
        window.location.reload(true);
      }
    }

    paypal
      .Buttons({
        createOrder: function (data, actions) {
          return actions.order.create({
            purchase_units: [
              {
                amount: {
                  currency_code: 'USD',
                  value: '{{ total }}',
                  breakdown: {
                    item_total: {
                      currency_code: 'USD',
                      value: '{{ subtotal }}',
                    },
                    shipping: {
                      currency_code: 'USD',
                      value: '8.00',
                    },
                  },
                },
                items: [
                  {% for product in products %}{
                    name: '{{ product.name }}',
                    unit_amount: {
                      currency_code: 'USD',
                      value: '{{ product.price_per_unit }}',
                    },
                    quantity: 1,
                    description: '{{ product.description|truncatechars:127 }}',
                    sku: '{{ product.id }}',
                  },{% endfor %}
                ]
              },
            ],
          });
        },
        onApprove: function (data, actions) {
          return actions.order.capture().then(function (details) {
            $.ajax({
              url: "{% url 'gallery:on_approve' %}",
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                details: JSON.stringify(details),
              },
              type: 'POST',
              success: function (data) {
                alert('The transaction was processed successfully.');
                window.location = "{% url 'gallery:index' %}";
              },
              error: function (jqXHR, textStatus, errorThrown) {
                error({
                  jqXHR: jqXHR,
                  textStatus: textStatus,
                  errorThrown: errorThrown,
                });
              },
            });
          });
        },
        onError: function (data) {
          error(data);
        },
      })
      .render('#paypal-button-container');
  });
</script>
{% endblock %} {% block content %}
<div class="container">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    <a
      href="#"
      class="close float-right"
      data-dismiss="alert"
      aria-label="close"
      title="close"
    >
      &times;
    </a>
    <p>{{ message }}</p>
  </div>
  {% endfor %} {% endif %}
  <h1>Checkout</h1>
  {% if not products %}
  <p>
    Your cart is currently empty. To add an item, please return to the gallery
    page, click or tap on the product(s) you would like to add, and select "Add
    to Cart."
  </p>
  {% endif %}
  <a class="btn btn-light" href="{% url 'gallery:cart' %}">Back to Cart</a>
  <h5>Order Summary</h5>
  <ul>
    {% for product in products %}
    <li class="row product">
      <div class="name-price-container-checkout">
        <span>{{ product.name }}</span>
        <span>${{ product.price_per_unit }}</span>
      </div>
    </li>
    {% endfor %}
    <li class="row total">
      <table>
        <tbody>
          <tr>
            <td>
              <span>Subtotal</span>
            </td>
            <td>
              <span>${{ subtotal }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Shipping</span>
            </td>
            <td>
              <span>${{ shipping }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Estimated tax (0%)</span>
            </td>
            <td>
              <span>${{ tax }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Total</span>
            </td>
            <td>
              <span>${{ total }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
  <div id="paypal-button-container"></div>
</div>
{% endblock %}
