<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coolwater Creations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'users/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'gallery/css/style.css' %}">
    <script src="{% static 'gallery/js/gallery.js' %}"></script>
    <script src="{% static 'gallery/js/gallery.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'users:index' %}" title="Back to Home">Coolwater Creations</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-center">
                    <a class="nav-link" href="{% url 'users:index' %}">Home</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{% url 'gallery:index' %}">Gallery</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{% url 'about:index' %}">About</a>
                </li>
                <li class="nav-item text-center">
                    {% if request.session.cart %}
                    <a class="nav-link" href="{% url 'gallery:cart' %}">Shopping Cart ({{ request.session.cart|length }})</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'gallery:cart' %}">Shopping Cart</a>
                    {% endif %}
                </li>
                <li class="nav-item text-center">
                    {% if person == None %}
                    <a class="nav-link modal-trigger" data-toggle="modal" data-target="#sign-in" title="Sign In">Admin Login</a>{% else %}
                    <a class="nav-link" href="{% url 'users:logout' %}" title="Sign Out">Log Out</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-labelledby="sign-in" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Sign In</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'users:login' %}" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="Email" class="form-control">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Login">
                    </div>
                </form>
                <!-- <form action="{# url 'users:register' #}" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="text" name="first_name" placeholder="First Name" class="form-control">
                        <input type="text" name="last_name" placeholder="Last Name" class="form-control">
                        <input type="text" name="email" placeholder="Email" class="form-control">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                        <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Register">
                    </div>
                </form> -->
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Orders</h1>
        <a class="btn btn-light" href="{% url 'gallery:index' %}">Back to Gallery</a>
        <h5>Pending Orders</h5>
        <button id="pending-shipped" class="btn btn-light">Mark Selection as Shipped</button>
        <button id="pending-delete" class="btn btn-danger">Delete Selection (cannot be undone)</button>
        {% csrf_token %}
        <table id="pending" class="orders table table-sm table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                    <th>Sale Amount</th>
                    <th>Tax Amount</th>
                    <th>State</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sale in pending_sales %}
                <tr class="orders-row" data-id="{{ sale.pk }}">
                    <td>{{ sale.pk }}</td>
                    <td>{{ sale.shipping_address.recipientName }}</td>
                    <td>{{ sale.date_created }}</td>
                    <td>{{ sale.date_updated }}</td>
                    <td class="right">{{ sale.sale_amount }}</td>
                    <td class="right">{{ sale.tax_amount }}</td>
                    <td>{{ sale.shipping_address.state }}</td>
                    <td>{{ sale.shipping_address.email }}</td>
                    <td><input name="{{ sale.pk }}" type="checkbox"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h5>Shipped Orders</h5>
        <button id="shipped-delete" class="btn btn-danger">Delete Selection (cannot be undone)</button>
        <table id="shipped" class="orders table table-sm table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>Date Shipped</th>
                    <th>Sale Amount</th>
                    <th>Tax Amount</th>
                    <th>State</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sale in shipped_sales %}
                <tr class="orders-row" data-id="{{ sale.pk }}">
                    <td>{{ sale.pk }}</td>
                    <td>{{ sale.shipping_address.recipientName }}</td>
                    <td>{{ sale.date_created }}</td>
                    <td>{{ sale.date_shipped }}</td>
                    <td class="right">{{ sale.sale_amount }}</td>
                    <td class="right">{{ sale.tax_amount }}</td>
                    <td>{{ sale.shipping_address.state }}</td>
                    <td>{{ sale.shipping_address.email }}</td>
                    <td><input type="checkbox"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
