{% extends 'gallery/base.html' %}

{% block head %}{% include 'gallery/data_tables.html' %}{% endblock %}

{% block content %}
<div class="container">
  <h1>Order #{{ sale.id }}</h1>
  <a class="btn btn-light" href="{% url 'gallery:orders' %}">Back to Orders</a>
  <h5>Shipping Address</h5>
  <div class="shipping-confirm">
    <table>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ sale.shipping_address.recipientName }}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{ sale.shipping_address.line1 }}</td>
        </tr>
        {% if sale.shipping_address.line2 %}
        <tr>
          <td></td>
          <td>{{ sale.shipping_address.line2 }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>City</td>
          <td>{{ sale.shipping_address.city }}</td>
        </tr>
        {% if sale.shipping_address.state %}
        <tr>
          <td>State/Province</td>
          <td>{{ sale.shipping_address.state }}</td>
        </tr>
        {% endif %}
        {% if sale.shipping_address.postalCode %}
        <tr>
          <td>Zip Code</td>
          <td>{{ sale.shipping_address.postalCode }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Country Code</td>
          <td>{{ sale.shipping_address.countryCode }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ sale.shipping_address.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h5>Products Ordered ({{ sale_items|length }})</h5>
  <ul>
    {% for sale_item in sale_items %}
    <li class="product">
      <div class="img-container">
        <a href="{% url 'gallery:product_page' %}?id={{ sale_item.product.id }}">
          <img src="{{ sale_item.product.image.url }}" alt="{{ sale_item.product.name }}">
        </a>
      </div>
      <div class="name-price-container">
        <span>
          <a href="{% url 'gallery:product_page' %}?id={{ sale_item.product.id }}">{{ sale_item.product.name }}</a>
        </span>
        <span>${{ sale_item.product.price_per_unit }}</span>
      </div>
      <div class="btn-container">
        <a class="btn btn-light" href="{% url 'gallery:product_page' %}?id={{ sale_item.product.id }}">View</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
