{% extends 'gallery/base.html' %}

{% block head %}{% include 'gallery/data_tables.html' %}{% endblock %}

{% block content %}
<div class="container">
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'error' %}
  <div class="alert alert-danger" role="alert">
    <a href="#" class="close float-right" data-dismiss="alert" aria-label="close" title="close">&times;</a>
    <p>{{ message }}</p>
  </div>
  {% elif message.tags == 'success' %}
  <div class="alert alert-success" role="alert">
    <a href="#" class="close float-right" data-dismiss="alert" aria-label="close" title="close">&times;</a>
    <p>{{ message }}</p>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <div class="row">
    <div class="img col-lg-6 col-md-12">
      <a data-fancybox="gallery" href="{{ product.image.url }}">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
      </a>
      <p><i class="fa fa-search-plus"></i> Click image to enlarge.</p>
    </div>
    <div class="col-lg-6 col-md-12">
      <h3>{{ product.name }}</h3>
      <h5>${{ product.price_per_unit }}</h5>
      {% if product.width and product.length and product.height %}
      <h6>{{ product.width }} &times; {{ product.length }} &times; {{ product.height }}</h6>
      <h6 class="subtle">width &times; length &times; height</h6>
      {% endif %}
      {% if product.description %}
      {{ product.description|linebreaks }}
      {% endif %}
      {% if product.in_stock > 0 %}
      {% if product.id in request.session.cart %}
      <form method="POST" action="{% url 'gallery:remove_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" class="btn btn-light" value="Remove from Cart">
      </form>
      {% else %}
      <form method="POST" action="{% url 'gallery:add_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" class="btn btn-light" value="Add to Cart">
      </form>
      {% endif %}
      <a class="btn btn-light" href="{% url 'gallery:index' %}">Back to Gallery</a>
      {% else %}
      <a class="btn btn-light" href="{% url 'gallery:index' %}#archive">Back to Gallery</a>
      {% endif %}
      {% if person.is_superuser == True %}
      <form method="POST" action="{% url 'gallery:delete_product' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" class="btn btn-danger" value="Delete">
      </form>
      <form method="POST" enctype="multipart/form-data" action="{% url 'gallery:edit_product' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ product.id }}">
        <input class="form-control" type="text" name="title" placeholder="Title" value="{{ product.name }}">
        <input class="form-control" type="text" name="price" placeholder="Price" value="{{ product.price_per_unit }}">
        <div class="row">
          <input class="form-control col-4" type="text" value="{{ product.width }}" placeholder="Width" name="width">
          <input class="form-control col-4" type="text" value="{{ product.length }}" placeholder="Length" name="length">
          <input class="form-control col-4" type="text" value="{{ product.height }}" placeholder="Height" name="height">
        </div>
        <textarea class="form-control" placeholder="Description" name="description" rows="5">{{ product.description }}</textarea>
        <input type="file" name="image" accept="image/*">
        <div class="form-control">
          {% if product.in_stock == 0 %}
          <input type="checkbox" name="archive" value="True" checked>
          {% else %}
          <input type="checkbox" name="archive" value="True">
          {% endif %}
          <label for="archive">Archive</label>
        </div>
        <input class="form-control btn btn-primary" type="submit" value="Edit Product">
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
