{% extends 'gallery/base.html' %}

{% block head %}
<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
<script src="https://js.braintreegateway.com/web/3.39.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.39.0/js/paypal-checkout.min.js"></script>
<script>
paypal.Button.render({
  braintree: braintree,
  client: {
  production: '{{ production_token }}',
  sandbox: '{{ sandbox_token }}'
  },
  env: '{% if DEBUG %}sandbox{% else %}production{% endif %}',
  commit: true,
  style: {
  layout: 'vertical',
  size: 'responsive',
  shape: 'rect',
  color: 'gold',
  },
  payment: function (data, actions) {
  return actions.braintree.create({
    flow: 'checkout',
    amount: '{{ total }}',
    currency: 'USD',
    enableShippingAddress: true,
    shippingAddressEditable: false,
    shippingAddressOverride: {
    recipientName: '{{ shipping_address.recipientName }}',
    line1: '{{ shipping_address.line1 }}',
    line2: '{{ shipping_address.line2 }}',
    city: '{{ shipping_address.city }}',
    countryCode: '{{ shipping_address.countryCode }}',
    postalCode: '{{ shipping_address.postalCodeExt }}' === '0000' ? '{{ shipping_address.postalCode }}' : '{{ shipping_address.postalCode }}-{{ shipping_address.postalCodeExt }}',
    state: '{{ shipping_address.state }}',
    phone: '{{ shipping_address.phone }}',
    }
  });
  },
  onAuthorize: function (payload) {
  $(document).ready(function () {
    $('#wait').show();
  });
  $.ajax({
    url: "{% url 'gallery:on_authorize' %}",
    data: {
    'csrfmiddlewaretoken': '{{ csrf_token }}',
    'sale_amount': '{{ total }}',
    'tax_amount': '{{ tax }}',
    'payment_method_nonce': payload.nonce,
    },
    type: 'POST',
    success: function (data) {
    if (data['success']) {
      alert('The transaction was processed successfully.');
    } else {
      alert('There was an error processing your transaction.');
    }
    window.location = "{% url 'gallery:index' %}";
    }
  });
  },
}, '#paypal-button');
</script>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Checkout</h1>
    <a class="btn btn-light" href="{% url 'gallery:cart' %}">Back to Cart</a>
    <h5>Order Summary</h5>
    <ul>
      {% for product in products %}
      <li class="row product">
        <div class="name-price-container-checkout">
          <span>{{ product.name }}</span>
          <span>${{ product.price_per_unit }}</span>
        </div>
      </li>
      {% endfor %}
      <li class="row total">
        <table>
          <tbody>
            <tr>
              <td>
                <span>Subtotal</span>
              </td>
              <td>
                <span>${{ subtotal }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Shipping</span>
              </td>
              <td>
                <span>${{ shipping }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Tax ({{ tax_rate }}%)</span>
              </td>
              <td>
                <span>${{ tax }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Total</span>
              </td>
              <td>
                <span>${{ total }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <h5>Shipping Address</h5>
    <div class="shipping-confirm">
      <div class="edit">
        <a href="{% url 'gallery:checkout' %}">Edit</a>
      </div>
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{ shipping_address.recipientName }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ shipping_address.line1 }}</td>
          </tr>
          {% if shipping_address.line2 %}
          <tr>
            <td></td>
            <td>{{ shipping_address.line2 }}</td>
          </tr>
          {% endif %}
          <tr>
            <td>City</td>
            <td>{{ shipping_address.city }}</td>
          </tr>
          {% if shipping_address.state %}
          <tr>
            <td>State/Province</td>
            <td>{{ shipping_address.state }}</td>
          </tr>
          {% endif %}
          {% if shipping_address.postalCode %}
          <tr>
            <td>Postal Code</td>
            {% if shipping_address.countryCode == 'US' and shipping_address.postalCodeExt != '0000' %}
            <td>{{ shipping_address.postalCode }}-{{ shipping_address.postalCodeExt }}</td>
            {% else %}
            <td>{{ shipping_address.postalCode }}</td>
            {% endif %}
          </tr>
          {% endif %}
          <tr>
            <td>Country Code</td>
            <td>{{ shipping_address.countryCode }}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ shipping_address.phone }}</td>
          </tr>
          <tr>
            {% if shipping_address.subscribed %}
            <td>Email (subscribed)</td>
            {% else %}
            <td>Email</td>
            {% endif %}
            <td>{{ shipping_address.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <table align="center">
      <tbody>
        <tr>
          <td>
            <div id="paypal-button"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="wait">
    <p>Please wait&hellip;</p>
  </div>
{% endblock %}
