<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
{% include 'users/global_head.html' %}

  <!-- Local Static Files -->
  <link rel="stylesheet" href="{% static 'lib/reset/reset.min.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/users.min.css' %}">
  <script src="{% static 'users/js/global.min.js' %}"></script>
  <script src="{% static 'users/js/users.min.js' %}"></script>
</head>

<body{% if homepage %} class="homepage"{% endif %}>{% block content %}{% endblock %}</body>

</html>
