<footer class="footer{% if homepage %} translucent{% endif %}">
  <div class="container">
    <div class="footer-list">
      <ul>
          <li>
            <a href="{% url 'users:tos' %}">Terms<span> of Service</span></a>
          </li>
          <li>
            <a href="{% url 'users:privacy' %}">Privacy<span> Policy</span></a>
          </li>
          <li>
            <a class="external-link" href="https://github.com/McCarthyCode/Coolwater-Creations/">GitHub</a>
          </li>
          <li>
            <a class="external-link" href="https://mccarthycode.com/">McCarthy Code</a>
          </li>
      </ul>
    </div>
    <p>&copy; {{ year }} Coolwater Creations</p>
  </div>
</footer>