{% extends 'users/base.html' %} {% block content %}
<section class="bg landscape">
  <a href="javascript:void(0);" class="logo" tabindex="1">
    <h1 class="text-center">Coolwater Creations</h1>
    <p class="text-center">
      <i class="fas fa-chevron-down"></i>
    </p>
  </a>
  <section class="content">
    <div class="content-container">
      <ul>
        <li>
          <a href="{% url 'gallery:index' %}">
            <button tabindex="-1">
              <i class="fas fa-shopping-cart"></i>
            </button>
            <label>Gallery</label>
          </a>
        </li>
        <li>
          <a href="{% url 'about:index' %}">
            <button tabindex="-1">
              <i class="fas fa-info"></i>
            </button>
            <label>About</label>
          </a>
        </li>
        <li>
          <a href="{% url 'about:index' %}#contact">
            <button tabindex="-1">
              <i class="fas fa-mobile-alt"></i>
            </button>
            <label>Contact</label>
          </a>
        </li>
      </ul>
    </div>
  </section>
  {% include 'users/footer.html' %}
  <div class="banner">
    <div class="banner-relative">
      <div class="container">
        <a class="close">&times;</a>
        <p>
          This site uses cookies for essential functions, such as tracking items
          in your shopping cart. By continuing, you agree to our
          <a href="{% url 'users:privacy' %}">Privacy Policy</a>.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
