{% extends 'users/base.html' %}
{% block content %}
<div class="cover parallax">
</div>
<div class="logo">
  <h1>Coolwater Creations</h1>
  <p>
    <i class="fas fa-chevron-down"></i>
  </p>
</div>
<div class="content">
  <div class="container">
    <div class="menu">
      <div>
        <a href="{% url 'gallery:index' %}">
          <div class="menu-item parallax">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <h4>Gallery</h4>
        </a>
      </div>
      <div>
        <a href="{% url 'about:index' %}">
          <div class="menu-item parallax">
            <i class="fas fa-info"></i>
          </div>
          <h4>About</h4>
        </a>
      </div>
      <div>
        <a href="{% url 'about:index' %}#contact">
          <div class="menu-item parallax">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <h4>Contact</h4>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="divider parallax">
</div>
{% include 'users/footer.html' %}
<div class="banner">
  <div class="container">
    <a id="close">&times;</a>
    <p>This site uses cookies for essential functions, such as tracking items in your shopping cart. By continuing, you agree to our <a href="{% url 'users:privacy' %}">Privacy Policy</a>.</p>
  </div>
</div>
{% endblock %}