<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'users:index' %}" title="Back to Home">Coolwater Creations</a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item center">
        <a class="nav-link" href="{% url 'users:index' %}">Home</a>
      </li>
      <li class="nav-item center">
        <a class="nav-link" href="{% url 'gallery:index' %}">Gallery</a>
      </li>
      <li class="nav-item center">
        <a class="nav-link" href="{% url 'about:index' %}">About</a>
      </li>
      <li class="nav-item center">
        {% if request.session.cart %}
        <a class="nav-link" href="{% url 'gallery:cart' %}">Shopping Cart ({{ request.session.cart|length }})</a>
        {% else %}
        <a class="nav-link" href="{% url 'gallery:cart' %}">Shopping Cart</a>
        {% endif %}
      </li>
      <li class="nav-item center">
        {% if person == None %}
        <a class="nav-link modal-trigger" data-toggle="modal" data-target="#sign-in" title="Sign In">Admin Login</a>{% else %}
        <a class="nav-link" href="{% url 'users:logout' %}" title="Sign Out">Log Out</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
<div class="nav-placeholder"></div>
{% include 'users/login.html' %}