<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    {% include 'users/global_head.html' %}

    <!-- Local Static Files -->
    <link rel="stylesheet" href="{% static 'about/css/about.min.css' %}" />
    <script src="{% static 'users/js/global.min.js' %}"></script>
    <script src="{% static 'about/js/about.min.js' %}"></script>
  </head>

  <body>
    <section id="page">
      {% include 'users/navbar.html' %}
      <section id="content">{% block content %}{% endblock %}</section>
    </section>
  </body>
</html>
