<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
{% include 'users/global_head.html' %}

  <!-- Local Static Files -->
  <link rel="stylesheet" href="{% static 'about/css/about.min.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'about/css/about.css' %}"> -->
  <script src="{% static 'users/js/global.js' %}"></script>
  <script src="{% static 'about/js/script.js' %}"></script>
</head>

<body>
{% include 'users/navbar_fixed_top.html' %}{% block content %}{% endblock %}</body>

</html>
