{% for post in posts %}
<li>
    {% if person.is_superuser == True %}
    <form method="POST" action="{% url 'about:edit_post' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ post.id }}">
        <input class="form-control" type="text" name="title" placeholder="Title" value="{{ post.title }}">
        <textarea class="form-control" name="body" placeholder="Body" rows="5">{{ post.body }}</textarea>
        <input class="btn btn-secondary form-control" type="submit" value="Edit Post">
    </form>
    <form method="POST" action="{% url 'about:delete_post' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ post.id }}">
        <input class="btn btn-danger form-control" type="submit" value="Delete Post">
    </form>
    {% else %}
    <h3>{{ post.title }}</h3>
    {{ post.body|linebreaks }}
    {% if post.date_created|date:"M d, Y" == post.date_updated|date:"M d, Y" %}
    <p class="date">Posted: {{ post.date_created|date:"M d, Y" }}</p>
    {% else %}
    <p class="date">Posted: {{ post.date_created|date:"M d, Y" }} Edited: {{ post.date_updated|date:"M d, Y" }}</p>
    {% endif %}
    {% endif %}
</li>
{% endfor %}