.footer {
  padding: 1rem 0;
  background-color: #202020;
  color: white;
}

.footer p {
  margin: 0;
  text-align: center;
}

.footer p,
.footer a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
}

.footer a, .footer .fa-external-link-alt  {
  color: #00ffff;
}

.footer .fa-external-link-alt {
  font-size: .5em;
}

.footer-list {
  max-width: 27rem;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.footer-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0.5em -1px;
  list-style: none;
  padding-left: 0;
}

.footer-list li {
  line-height: 0.75em;
  flex: 1 0 auto;
  margin: 0.25em 0;
  padding: 0 0.5rem;
  text-align: center;
  border-left: 1px solid white;
}
