@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans');

body, html {
  height: 100%;
  background-color: #e1f4fc;
}

h3, h4, h5,
.logo h1,
.navbar-brand {
  font-family: 'Merienda One', Helvetica, Arial, sans-serif;
}

h1, h2, p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
}

.cover {
  height: 100vh;
}

.divider {
  height: 50vh;
}

.parallax {
  background-image: url("/static/users/img/dragon.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 8px black;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 6px;
  cursor: pointer;
}

.logo i {
  font-size: 35px;
}

.content,
#about,
#contact {
  padding: 2rem 0;
}

.menu {
  display: flex;
  box-sizing: border-box;
}

.menu > div {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu a {
  display: inline-block;
  color: black;
}

.menu .menu-item {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  line-height: 150px;
  text-align: center;
}

.menu .menu-item i {
  color: white;
  font-size: 50pt;
  transform: translate(1px, 20px);
}

.menu h4 {
  margin: 1rem 0 0 0;
}

#contact {
  text-align: center;
}

#about {
  background: #f8f9fa7f;
}

.banner {
  display: none;
  z-index: 1;
  background-color: #23bef7;
  background: linear-gradient(to bottom right, #a92ff57f, #23bef77f);
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 1rem 0;
}

.banner a {
  color: white;
  text-decoration: underline;
}

#close {
  position: fixed;
  font-size: 2rem;
  right: 0.5rem;
  top: -0.5rem;
  cursor: pointer;
}

.banner p {
  margin: 0;
}

.navbar {
  margin-bottom: 2rem;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  color: white!important;
}

@media (max-width: 768px) {
  .menu .menu-item {
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 12pt;
  }

  .menu .menu-item i {
    font-size: 25pt;
    transform: translate(1px, 8px);
  }

  .menu h4 {
    font-size: 1em;
  }

  #contact h3 {
    font-size: 0.9em;
  }

  .navbar-brand {
    font-size: 0.9em;
  }

  .navbar-nav .nav-link {
    background-color: #666a6d;
    border-radius: 4px;
    margin-top: 0.5rem;
    color: white!important;
  }
}

@media (max-width: 1200px) {
  .cover {
    background-image: url("/static/users/img/dragon_mobile.jpg");
    background-position: center;
    background-attachment: unset;
  }

  .menu-item {
    background-image: linear-gradient(#8386f1, #82dcfd)!important;
  }

  .divider {
    display: none;
  }

  #contact {
    padding-top: 0;
  }
}
