h1, h2, p
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

h3, h4, h5
  font-family: 'Merienda One', Helvetica, Arial, sans-serif

body
  --page-height: 100vh
  --logo-height: 121px

#bg, #bg::before, #bg::after, #page
  height: var(--page-height)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0

#bg
  &::before, &::after
    content: ''
    pointer-events: none

  &::before
    z-index: -2
    $blur-radius: 4px
    @include transform(scale(1.2))
    @include filter(blur($blur-radius))
    @include bg(cover)

  &::after
    z-index: -1
    @include bg(contain)

  &.landscape
    &::before, &::after
      background-image: url('/static/users/img/dragon_landscape.jpg')

  &.portrait
    &::before, &::after
      background-image: url('/static/users/img/dragon_portrait.jpg')

#page
  display: grid
  grid-template-rows: [top] var(--logo-height) [content-top] auto [bottom]

  &.portrait .content-container ul
    -ms-flex-direction: column
    flex-direction: column

    button
      @media screen and (min-height: 550px)
        display: flex

      @media screen and (min-height: 700px)
        --size: 2

      @media screen and (min-height: 850px)
        --size: 3

  &.landscape .content-container ul
    -ms-flex-direction: row
    flex-direction: row

    button
      @media screen and (min-height: 300px)
        display: flex

      @media screen and (min-width: 500px) and (min-height: 350px)
        --size: 2

      @media screen and (min-width: 675px) and (min-height: 400px)
        --size: 3

  .logo
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1
    text-shadow: 2px 2px 8px black
    padding: 1rem 1rem 7px 1rem
    cursor: pointer

    h1
      font-size: 1.75rem

      @media screen and (min-width: 358px)
        font-size: 2.0rem

      @media screen and (min-width: 439px)
        font-size: 2.5rem

      @media screen and (min-width: 553px)
        letter-spacing: 6px

    &, &:hover
      color: white

    h1
      font-family: 'Merienda One', Helvetica, Arial, sans-serif

    p
      margin: 0

      svg
        font-size: 35px
        @include filter(drop-shadow(2px 2px 8px $black))

  .content
    grid-row-start: content-top
    grid-row-end: bottom
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    scrollbar-width: none
    -ms-overflow-style: none
    padding: 0 1rem
    width: 100%
    margin: 0 auto

    &::-webkit-scrollbar
      display: none

    & > *
      flex: 0 0 auto

    .test
      grid-row-start: top
      grid-row-end: ul-top

    &-container
      display: flex
      flex-direction: column
      width: 100%
      max-width: 720px
      margin: 0 auto

      & > *
        flex: 0 0 auto

      ul
        display: flex
        justify-content: space-evenly
        align-content: center
        gap: 1rem
        grid-gap: 1rem
        width: 100%
        height: calc(var(--page-height) - var(--logo-height) - 56px)
        margin: calc(var(--page-height) - var(--logo-height)) 0 0 0
        padding-bottom: 1rem

        li
          display: flex
          justify-content: center
          align-items: center
          flex: 1 1 150px

          a
            color: rgb(241, 152, 131)
            color: white
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            &, & *
              cursor: pointer

            &:hover, &:focus
              button
                background-color: hsla(198, 81.8%, 75%, 100%)

              label
                text-decoration: underline
                background-color: rgba(153, 168, 120, 1)

            button
              --size: 1
              display: none
              position: relative
              justify-content: center
              align-items: center
              width: calc(var(--size) * 50px)
              height: calc(var(--size) * 50px)
              margin-bottom: 1rem
              border: calc(var(--size) * 1px + 1px) solid white
              border-radius: 100%
              padding: 0
              background-color: hsla(198, 81.8%, 75%, 75%)
              @include transition(background-color, .3s)

              i, svg
                color: white
                font-size: calc(var(--size) * 1rem)

            label
              font-family: 'Merienda One', Helvetica, Arial, sans-serif
              font-size: 1.5rem
              color: white
              margin: 0
              padding: 0 .5rem
              background-color: rgba(153, 168, 120, .75)
              border-radius: .5rem
              @include transition(background-color, .3s)

#contact
  text-align: center

#about
  background: #f8f9fa7f

#about, #contact
  padding: 2rem 0

.banner
  display: none
  z-index: 1
  background-color: #23bef7
  color: white
  position: fixed
  right: 0px
  bottom: 0px
  left: 0px
  padding: 1rem 0
  @include linear-gradient(to bottom right, #a92ff5, #23bef7)

  &-relative
    position: relative

    .container
      a
        color: white

        &:not(.close)
          text-decoration: underline

      p
        margin: 0

      .close
        position: absolute
        font-size: 2rem
        right: 0.5rem
        top: -0.5rem
        cursor: pointer
